{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": "airbnb-base/legacy",
    "parser": "@babel/eslint-parser",
    "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "ecmaFeatures": {
      "globalReturn": false,
    },
    "babelOptions": {
        "configFile": "./babel.config.json"
    }
  },
    "plugins": [],
    "rules": {
    }
}