.toogle_container {
  display: grid;
  grid-template: 1fr / 1fr;
}
.follow {
  position: relative;

  width: 50px;
  height: 25px;
  margin: 0;

  vertical-align: top;

  background: #ffffff;
  border: 1px solid #bbc1e1;
  border-radius: 30px;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.follow::after {
  content: '';

  position: absolute;
  left: 3px;
  top: 1.5px;

  width: 20px;
  height: 20px;
  background-color: #5e5373;
  border-radius: 50%;

  transform: translateX(0);

  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.follow:checked::after {
  transform: translateX(calc(100% + 3px));
  background-color: #fff;
}

.follow:checked {
  background-color: #5e5373;
}

.order_form {
  display: grid;
  grid-template: repeat(6, minmax(40px, auto)) / 1fr;
  align-items: center;
  border: 1px solid;
  padding: 10px;
}

.form_wrapper {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  align-items: start;
  gap: 5px;
}
.errors {
  color: red;
  font-size: 18px;
}
.form_button {
  text-align: center;
}
