.product_items {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.product_item {
  display: grid;
  grid-auto-flow: row;
  grid-template: auto 1fr auto minmax(40px, auto) / 1fr;
}
.product_options {
  text-align: center;
  display: grid;
  grid-template: minmax(30px, auto) 1fr / 1fr;
}
.button_like {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  text-align: center;
  align-items: center;
}
.size {
  padding: 10px 5px 15px 5px;
}
.size .o_size {
  background: #c8d1d6;
  border-radius: 3px;
  padding: 3px 6px 3px 6px;
  margin-right: 5px;
}
.price {
  font-size: 18px;
  text-align: center;
  align-items: center;
  font-weight: 600;
}
.product_image {
  position: relative;
  padding: 0px 0px 85% 0px;
}
.product_item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products_name {
  font-size: 20px;
  color: violet;
  line-height: 30px;
  margin: 0px 0px 20px 0px;
}
.products_button {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  line-height: 40px;
  justify-self: start;
  background-color: violet;
  padding: 0 20px;
}
@media (min-width: 992px) {
  .product_items {
    grid-auto-rows: 1fr;
  }
}
