.searchbar_content {
  display: grid;
  height: 40px;
  width: 100%;
  grid-template: 1fr / 1fr;
}
.searchbar_content input {
  background: url('../../../assets/img/search.png') no-repeat scroll 7px 7px;
  padding-left: 35px;
  font-size: 18px;
}
