@media (min-width: 992px) {
  .sidebar {
    grid-column: 2/3;
    margin: 0;
  }
}
.sidebar {
  background-color: aqua;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;
}
.sidebar li {
  list-style-type: none;
  margin: 0px 0px 15px 0px;
}
.sidebar ul {
  padding: 0;
}
