.dash_content {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(3, minmax(325px, 1fr));
  gap: 10px;
  padding-left: 10px;
}
.image_dash_wrapper {
  position: relative;
  padding: 0px 0px 85% 0px;
}
.image_dash_wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.searchbar_content {
  display: grid;
  grid-template: 1fr / minmax(400px, 1fr) minmax(50px, auto);
  margin-bottom: 15px;
  height: 40px;
  width: 100%;
  margin-left: 10px;
}
.searchbar_content input {
  background: url('../../assets/img/search.png') no-repeat scroll 7px 7px;
  padding-left: 35px;
  font-size: 18px;
}
.sort {
  display: grid;
  grid-template: 1fr 1fr 1fr / minmax(200px, auto) minmax(200px, 1fr);
  grid-template-areas:
    'search search search'
    'sortiopt sortiopt dates'
    'paginator paginator paginator';
  align-items: center;
}
.search {
  grid-area: search;
}
.dates {
  grid-area: dates;
  text-align: right;
}
.sortiopt {
  grid-area: sortiopt;
}
.selectedPage {
  font-weight: bold;
  border: violet solid 1px;
  background-color: violet;
  color: white;
}
.paginator_wrapper span {
  padding: 3px;
}
.paginator_wrapper {
  grid-area: paginator;
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
