.footer {
  display: grid;
  grid-area: footer;
  background-color: green;
  grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1000px) 1fr;
  align-items: center;
  padding: 0px 15px;
}
@media (min-width: 550px) {
  .footer_copy {
    grid-column: 2/3;
  }
  .footer_text {
    text-align: right;
    grid-column: 3/4;
  }
}
@media (max-width: 550px) {
  .footer {
    text-align: center;
    background-color: green;
    grid-template: 1fr 1fr / 1fr;
  }
  .footer_copy {
    order: 2;
  }
  .footer_text {
    order: 1;
  }
}
