@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}

.wrapper {
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  display: grid;
  grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
  grid-template-areas:
    'header'
    'main'
    'footer';
}
.main {
  padding: 30px 0px;
}
@media (min-width: 992px) {
  .main {
    grid-area: main;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1000px) 1fr;
  }
  .content {
    grid-column: 3/4;
    padding: 0px 0px 0px 30px;
  }
}
